.bottomSlider {
  height: calc(100vh - 100px);
  width: 100%;
  overflow: hidden;

  div {
    display: flex;
    height: 100%;
    transform: translateX(-4243px);
    transition-duration: 150000ms;
    transition-timing-function: linear;
    img {
      height: 100%;
      width: 400px;
    }
  }
}
